@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-indigo, 600, 500, 900);
$accent: mat-palette($mat-pink, A400, A300, A600);


.color-primary {
  background: mat-color($primary);
}


.example-container {
    // width: 100%;
    height: 100%;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.sidenav-button{
    width: 250px;
}

