.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.renter-nav {
    flex: 0 1 auto;
}
.main-container {
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    overflow: auto;
}
.rented-warehouses-container {
    flex-grow: 1;
}